/* ===========
html elements
============ */
/*
font-family: 'Fredoka One', cursive;
font-family: 'Open Sans', sans-serif;
*/
body {
    background-color: white;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 45vh;
    margin-bottom: 5px;
}

.zip-input:focus,
textarea:focus,
.input-box:focus {
  border: 3px solid #00BF6E;
  background: white;
  transition: ease-in .2s;  
 
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
footer{
    display: flex;
    justify-content: center;
}
textarea {
    background-color: rgb(226,232,240);
    border-radius: 15px;
    color: #668DBF;
    height: 567px;
    width: 90vw;
}
.contact-information {
    display: flex;
    justify-content: center;
}
form {
    width: unset;
    background-color: rgb(219,253,215);
    max-width: 768px;
    padding: 20px;
    width: 90vw;
    height: auto;
    border-top: #00BF6E solid 4px;
    
}
.header-font {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: #668DBF;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background-color: #00BF6E;  
}

.sign-up {
    text-align: center;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: #00BF6E solid 8px;
    color: #00BF6E;
}
.label-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #00BF6E;
    margin-bottom: 10px; 
}
.flex-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
}
.input-box {
    width: 70vw;
    height: 50px;
    background-color: rgb(226,232,240);
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 20px;
}
.zip-input {
    width: 45vw;
    height: 50px;
    background-color: rgb(226,232,240);
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}
.zip {
    border-bottom: #00BF6E solid 4px;
    padding-bottom: 60px;
}
input::placeholder {
    text-align: right;
    padding-right: 10px;
}
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
    height: 50vh;
    margin-bottom: 20px;
}
.newsletter-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
    height: 12vh;
    margin-bottom: 20px;
}
.btn {
    margin-top: 30px;
    width: 90vw;
    height: 8vh;
    background-color: #00BF6E;
    color: #668DBF;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    border: none;
    border-radius: 15px;
}
.newsletter-2 {
  height: 25vh;
  margin-top: 20px, 0px, 20px;
}
.copy-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
    color: darkgray;
}
.placeholder-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.label-text:hover {
    font-size: 30px;
}
.discription-text {
    margin-bottom: 10px;
    color: #668DBF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
h1  {
  font-family: 'Fredoka One', cursive;
    color: #668DBF;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 40px;
}

/* checkbox styling */
.container {
    margin-top: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container input,
.container-1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    left: -10px;
    top: -10px;
    z-index: 1;
}
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container input:checked ~ .checkmark {
    background-color: #668DBF;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* radio styling */
  .container-1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkmark-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
.container-1:hover input ~ .checkmark-1 {
    background-color: #ccc;
  }
  /* When the radio button is checked, add a blue background */
.container-1 input:checked ~ .checkmark-1 {
    background-color: #668DBF;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
.container-1 input:checked ~ .checkmark-1:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-1 .checkmark-1:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  @media(min-width: 768px) {
    .flex-container {
      display: flex;
      flex-direction: row;
    }
    .sign-up,
    form {
      width: unset;
      max-width: 755px;
      margin: auto;
    }
    
    .input-box,
    .flex-container,
    .newsletter,
    .newsletter-2,
    .placeholder-text,
    .btn {
      width: unset;
    }
    .placeholder-text,
    .btn {
      width: 100%;
    }
    .flex-container .label-text {
      flex-basis: 30%;
      padding: 0;
      margin: auto 0;
    }
    .flex-container .input-box,
    .zip-input {
      flex-basis: 65%;
      flex-grow: 1;
    }
    .zip-input {
      max-width: 25%;
    }
  }